@import '../../../styles/card.scss';

.card {
  width: 110px;
  height: 100px;
  .fa-times {
    position: relative;
    color: #fcfcfc;
    bottom: 100%;
    right: 20%;
    cursor: pointer;
  }
  .fa-4x{
    position: relative;
    bottom: 60%;
    left: 2%;
    cursor: pointer;
  }
  .txt {
    color: $txtColor;
    position: relative;
    bottom: 50%;
    right: 10%;
  }

  .fa-4x:hover{
    color: $txtColor;
  }

  #round{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: red;
    text-align: center;
  }
}
