@import '../../../styles/card.scss';

.card {
  width: fit-content;
  height: 110px;
  .fa-times {
    position: relative;
    color: #fcfcfc;
    bottom: 100%;
    right: 20%;
    cursor: pointer;
  }
  .fa-4x{
    position: relative;
    bottom: 60%;
    right: 10%;
    cursor: pointer;
  }
  .txt {
    color: $txtColor;
    position: relative;
    bottom: 50%;
    right: 10%;
  }

  .fa-4x:hover{
    color: $txtColor;
  }

  #round{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: red;
    text-align: center;
  }

  .option-card{
    position: relative;
    text-align: center;
    color: white;
    font-size: 1vw;
    font-weight: 200;
    background: $headbandColor;
    border-radius: 20px;
    border: 3.5px solid #000000;
    outline:0;
    bottom:190%;
    left: 80%;
  }

  .option-card:hover{
    cursor: pointer;
  }
}
