@import '../../../styles/card.scss';

.card {
  width: 80px;
  height: 80px;
  .fa-times {
    position: relative;
    bottom: 59%;
    right: 65%;
  }
  .fa-4x{
    position: relative;
    bottom: 105%;
    left: 2%;
  }
  .txt {
    color: $txtColor;
    position: relative;
    bottom: 95%;
    right: 23%;
  }
}
