<div *ngIf="quiz && quiz.name != null">
  <h1>{{quiz.name}}</h1>
</div>

<div *ngIf="quiz && indexQuestion < quiz.questions.length; then thenBlock2 else elseBlock2"></div>


  <ng-template #thenBlock2>
  <div *ngIf="printDisplay==false; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
      <app-question-play [question]="quiz.questions[indexQuestion]" (isGoodAnswerChecked)="answerSelected($event)"></app-question-play>
    </ng-template>

    <ng-template #elseBlock>
      <app-display [isCorrect]="isCorrect"></app-display>
    </ng-template>

    <button type="submit" class="button-card" (click)="validateQuestion()">Valider</button>
    </ng-template>


    <ng-template #elseBlock2>
      <button type="submit" class="button-card" (click)="restartQuiz()">Recommencez le quiz</button>
    </ng-template>


<button class="button-card" routerLink="/quiz-list">Retour</button>


