@import '../../../styles/card.scss';

h1{
  font-size: 2.5vw;
  font-weight: bold;
  line-height: 1;
}

.quiz-name{
  text-align: center;
  color: $txtColor;
}

.num-question{
  color: $txtColor;
  text-align: center;
  border-bottom: 2px dashed $txtColor;
  padding-bottom: 2rem ;
}

app-resume-display{
  text-align: center;
}

.rectangle{
  margin-right: auto;
  margin-left: auto;
}

app-quiz-list{
  margin-top: 30vh;
}

.button-card-validate{
  margin-left: 45%;
  margin-top: 12.5%;
  background-color: $headbandColor;
  border: solid 1px $headbandColor;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
  padding: 0.5em 3em;
}

.button-card-back{
  background-color: $headbandColor;
  border: solid 1px $headbandColor;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em 2.5em;
}



