$app-background-color: #f2f3fc;
$greenForButton: #26940f;
$redForButton: #940f0f;
$txtColor: #001b85;
$colorForTxtInput: #92ade9;
$cursorOnQuestion: #008000;
$questionSelected: green;
$headbandColor: #4257b2;
$white: white;
$blue: blue;
