$app-background-color: #f2f3fc;
$greenForButton: #37b71e;
$redForButton: red;
$txtColor: #001b85;
$colorForTxtInput: #ffffff;
$cursorOnQuestion: #000000;
$questionSelected: darkorange;
$headbandColor: #3690b8;
$white: white;
$blue: blue;
