@import '../../../styles/card.scss';


.card{
  text-align: left;
  width: 300px;
  height: 500px;
  background: darkorange;
  border: 1px solid black;
  border-radius: 20px;
}

.background-picture{
  background: #68b599;
}

img{
  width: 50px;
  height: auto;
  pointer-events: none;
  border: 0;
}
