<app-mainpage-header></app-mainpage-header>

<div class="card">
  <h2>Créer un nouveau quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Titre <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème <br>
      <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
    </label>
    <br>
    <div class="buttons">
      <button type="submit" class="button-card-back"  routerLink="/gestion-quiz"> Retour </button>
      <button type="submit" class="button-card-create" (click)="addQuiz()"> Créer </button>
    </div>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
