@import '../../../styles/card.scss';


.card{
  text-align: center;
  width: 500px;
  position: absolute;
  top: 53%;
  left: 50%;
  background: #763bd6;
  border: 1px solid black;
  border-radius: 20px;
  transform: translate(-50%, -50%);

}

.button-card{
  cursor:pointer;
  background-color: $headbandColor;
  border: solid 1px #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em 1em;
  outline: 0;
}
