@import '../../../styles/card.scss';

.answer-form {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.card{
  text-align: center;
  width: fit-content;
  height: fit-content;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  background: #763bd6;
  border: 1px solid black;
  border-radius: 20px;
}

.button-card-add-question{
  margin-left: 70%;
  margin-top: 10%;
  cursor: pointer;
  background-color: #128796;
  border: solid 1px #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em 1em;
  box-shadow: 0.2em 0.2em rgb(0 0 0 / 50%);
  outline: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
}

