@import '../../../styles/card.scss';

.answer-form {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.card{
  text-align: center;
  width: 300px;
  position: absolute;
  left: 37%;
  top: 20%;
  z-index: 1;
  background: #763bd6;
  border: 1px solid black;
  border-radius: 20px;
}
