@import '../../../styles/card.scss';

.answer-form {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.card{
  text-align: center;
  width: fit-content;
  height: fit-content;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  background: #763bd6;
  border: 1px solid black;
  border-radius: 20px;
}

