<app-mainpage-header></app-mainpage-header>
<div>
<h1>OPTIONS</h1>
</div>

<form class="option-quiz" [formGroup]="userForm">
  <div>
    <div>
      <input type="checkbox" id="restartQuestionCheckbox" name="Option" [checked]="this.restartQuestionOption"  [formControlName]="'restartQuestionOption'" (click)="onSelectRestartQuestionOption()">
      <label for="restartQuestionCheckbox">Recommencer la question</label>
    </div>
    <div>
      <input type="checkbox" id="answerDisplayOptionCheckbox" name="Option" [checked]="this.answerDisplayOption" [formControlName]="'answerDisplayOption'" (click)="onSelectAnswerDisplayOption()">
      <label for="answerDisplayOptionCheckbox">Afficher la réponse</label>
    </div>
    <div>
      <input type="checkbox" id="displayScoreOptionCheckbox" name="Option" [checked]="this.displayScoreOption" [formControlName]="'displayScoreOption'" (click)="onSelectDisplayScoreOption()">
      <label for="displayScoreOptionCheckbox">Afficher le résultat</label>
    </div>

    <button type="button" class="button-card" (click)="validate()">Valider</button>
  </div>
</form>


