@import '../../../styles/card.scss';

.question-list {
  position: absolute;
  top: 60vh;
  left: 5vw;
  width: 84vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 0;
}
