@import '../../../styles/card.scss';

h2{
  text-align: center;
  color: $txtColor;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 1;
}



.card{
  background: $app-background-color;
  border-radius: 1px;
  display: block;
  margin-right: 5rem;
  margin-left: 5rem;
  position: relative;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  padding: 0 1em 1em 1em;
}


.answer{
  list-style: none;
  text-align: center;
  color: $txtColor;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 1;
}

.answer:hover {
  cursor: pointer;
  color: $cursorOnQuestion;
  text-decoration:none;
}

.selected{
  color: $questionSelected;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 1;
}





