<div class="card">

  <h2>
    <br>
    <i class="fab fa-leanpub"></i>
    Question : {{question.label}} :
  </h2>
  <div class="answers">
    <button class ="answer" *ngFor="let answer of question.answers; let i=index"
        [class.selected]="answer === selectedAnswer"
        [class.hide]="listIndexAnswerFalse.includes(i)"
        (click)="onSelect(answer, i)">
        {{answer.value}}
    </button>
  </div>
</div>

<!--<h1>{{isGoodAnswerChecked}}</h1>-->
<!--<br><br>{{questionPlayForm.getRawValue() | json}}-->
