@import '../../../styles/card.scss';


.answer{
  color: #000000;
  font-weight: bold;
  text-decoration:none;
}

.answer:hover {
  cursor: pointer;
  color: #fc9e5b;
  text-decoration:none;
}

.selected{
  color: #ff6425;
  font-weight: bold;
  text-decoration:none;
}





