<app-mainpage-header></app-mainpage-header>


<div class="card">
  <form class="user-form" [formGroup]="userForm">
    <h2>Editez le profil : </h2>

    <h3>Prénom : {{firstName}}</h3>
    <h3>Nom : {{lastName}}</h3>

    <label for="comment">
      <input class="input-custom" type="text" id="comment" [formControlName]="'comment'" placeholder=" Commentaire">
    </label>
    <br>
    <div class="pathology">
      <label for="pathology">
        <select name="pathology-list" id="pathology" [formControlName]="'pathology'">
          <option value="">--Choisissez une des options--</option>
          <option *ngFor="let currentPathology of PATHOLOGY_LIST" [value]="currentPathology">
            {{ currentPathology }}
          </option>
        </select>
      </label>
    </div>
    <br>

    <div>
      <div>

        <input type="checkbox" id="restartQuestionCheckbox" name="Option" [checked]="this.restartQuestionOption"  [formControlName]="'restartQuestionOption'" (click)="onSelectRestartQuestionOption()">
        <label for="restartQuestionCheckbox">Recommencer la question sans la réponse est fausse</label>
      </div>
      <div>
        <input type="checkbox" id="answerDisplayOptionCheckbox" name="Option" [checked]="this.answerDisplayOption" [formControlName]="'answerDisplayOption'" (click)="onSelectAnswerDisplayOption()">
        <label for="answerDisplayOptionCheckbox">Afficher la réponse à chaque fin de question</label>
      </div>
      <div>
        <input type="checkbox" id="displayScoreOptionCheckbox" name="Option" [checked]="this.displayScoreOption" [formControlName]="'displayScoreOption'" (click)="onSelectDisplayScoreOption()">
        <label for="displayScoreOptionCheckbox">Afficher le score du quiz</label>
      </div>
      <div>
        <input type="checkbox" id="pictureAnswerOption" name="Option" [checked]="this.pictureQuizOption" [formControlName]="'pictureQuizOption'" (click)="onSelectPictureQuizOption()">
        <label for="displayScoreOptionCheckbox">Jouer que des quiz imagé</label>
      </div>
    </div>


    <button class="cancel-card" routerLink="/user-list">Annuler</button>
    <button type="button" class="validate-card" (click)="validate()">Valider</button>

  </form>
</div>


