@import '../../../styles/card.scss';

.create-user-button{
  position: absolute;
  top: 20vh;
  left: 2vw;
  cursor: pointer;
  .create-user-text{
    text-align: center;
    font-size: small;
  }
  background-color: $app-background-color;
  .fa-4x{
    color: $txtColor;
  }
}

.user-list {
  position: absolute;
  top: 24.5vh;
  left: 15vw;
  width: 84vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
