@import '../../../styles/card.scss';

.button-card-validate{
  cursor:pointer;
  background-color: $headbandColor;
  border: solid 1px #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em 0.5em;
  outline: 0;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}

h2{
  margin-left: 5px;
}
